@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

.lostordos-container {
    font-family: 'Roboto', sans-serif; /* Ajusta la tipografía según necesites */
}

.lostordos-header {
    position: relative;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}

.background-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
}

.lostordos-header::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle, transparent, rgba(0, 0, 0, 0.2));
    top: 0;
    left: 0;
}



.lostordos-logo {
    max-width: 250px;
    position: absolute;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%);
   
}

.hamburger-menu {
    position: absolute;
    top: 20px;
    right: 40px;
    cursor: pointer;
    transition: background-color 0.5s;
    color: white;
    font-size: 30px;
}

.hamburger-menu:hover {
    background-color: #3458bd; /* Ajusta a tu color deseado */
    padding: 2px 4px;
    border-radius: 4px;
}

.lostordos__subtitle {
    font-family: 'Lato', sans-serif;
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.4;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
    margin-bottom: 0.5rem;
    position: absolute;
    bottom: 20px;
    width: 100%;
    text-align: center;
    color: white;
    opacity: 1;
    transition: opacity 1s;
}

.fadeIn {
    opacity: 1;
}

.fadeOut {
    opacity: 0;
}

.lostordos-header__info-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 110px);
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: #fff;
    background-color: #006c6d;
    border: none;
    border-radius: 30px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    background-size: contain;
    background-repeat: no-repeat;
}

.lostordos-header__info-btn:hover {
    background-color: #015455;
}

@media (max-width: 768px) {
    .lostordos-logo {
        max-width: 200px;
    }
    .lostordos-header {
        height: calc(100vh - 60px);
    }
    .logo-container {
        top: 40%;
    }
    .lostordos-header__info-btn {
        transform: translate(-50%, 40px);
        font-size: 15px;
    }
    .lostordos__subtitle {
        bottom: 30px;
    }
}
