
.navegador01 {
  position: fixed;
  z-index: 99999;
  left: 0;
  width: 100%;
  background-color:var(--colorPrimarioTransparente);
  backdrop-filter: blur(20px);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
}

.navegador01__button {
  color: var(--colorSecundario);
  font-size: 15pt;
  text-align: center;
  padding: 5px;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
  line-height: 2pt;
  width: 35px; /* Ajusta según sea necesario */
  height: 35px; /* Ajusta según sea necesario */
  margin: 5px 20px;
  padding: 8px;
  position: relative; /* Agrega posicionamiento relativo */

  display: flex;
  flex-direction: column;
  align-items: center;
}

.navegador01__button:hover {
  background-color: rgba(255, 255, 255, 0.2);
  transform: scale(1.2);
  cursor: pointer;
}

.navegador01__text {
  font-size: 12px;
  position: absolute; /* Agrega posicionamiento absoluto */
  left: 50%; /* Alinea el texto al centro horizontalmente */
  transform: translateX(-50%); /* Centra el texto horizontalmente */
  bottom: 5px; /* Ajusta según sea necesario */
}

.navegador01__button svg {
  display: block;
  margin: 0 auto 5px;
}

.navegador01__separator {
  color: white;
  font-size: 20px;
}

/* Estilos para versiones de escritorio */
@media (min-width: 768px) {
  .navegador01 {
      margin-top: 10px;
      position: relative;
      width: auto;
      background-color: rgba(0, 108, 109, 0.8);
      backdrop-filter: blur(10px);
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0;
      backdrop-filter: none;
      height: 55px;
      border-radius: 20px;
      z-index: 99999;
      background-image: url('../../../Assets/ramas-Boton-quiero-saber-más.png');
      background-size: contain;
      background-position: center;
  }

  .navegador01__button {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      color: #fff;
      font-size: 14px;
      padding: 10px 20px;
      border-radius: 20px;
      transition: all 0.3s ease-in-out;
      text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
      
      
      
      
  }

  .navegador01__button:hover {
      background-color: rgba(255, 255, 255, 0.2);
      transform: none;
  }


  .navegador01__text {
      font-size: 18px;
      top:28px;
      left: auto;
      transform: none;
     
  }
  .navegador01__button svg {
    display: none;
   
  }
}
