@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

/* Contenedor principal */
.landing-container {
    font-family: 'Lato', sans-serif;
}

/* Header del contenedor principal */
.landing-header {
    display: flex;
   
    position: relative;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    justify-content: center;
}

/* Video de fondo */
.background-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
}

/* Logo del proyecto */
.landing-logo-container .landing-logo {
    max-width: 250px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Menú hamburguesa */
.hamburger-menu {
    position: absolute;
    top: 20px;
    right: 40px;
    cursor: pointer;
    transition: background-color 0.5s;
    color: white;
    font-size: 30px;
}

.hamburger-menu:hover {
    background-color: #3458bd;
    padding: 2px 4px;
    border-radius: 4px;
}

/* Subtítulos que aparecen y desaparecen */
.landing__subtitle {
    font-family: 'Lato', sans-serif;
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.4;
    
    position: absolute;
    top: 20px;
    
    text-align: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    padding: 4px 10px;
    opacity: 1;
    transition: opacity 1s;
}

.fadeIn {
    opacity: 1;
}

.fadeOut {
    opacity: 0;
}

/* Botón de información */
.landing-header__info-btn {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -10px);
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    font-weight: 700;
    color: #fff;
    background-color: #006c6d;
    border: none;
    border-radius: 30px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    
    background-size: contain;
    background-repeat: no-repeat;
}

.landing-header__info-btn:hover {
    background-color: #015455;
}

/* Media queries para responsividad */
@media (max-width: 768px) {
    .landing-logo {
        max-width: 200px;
    }

    .landing-header {
        height: calc(100vh - 60px);
    }

    .landing-header__info-btn {
        transform: translate(-50%, -20px);
        font-size: 15px;
    }

    .landing__subtitle {
        bottom: 30px;
    }
}
