

.header {
    color: white;
    text-align: center;
    padding: 20px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    overflow: hidden; /* Añadido para evitar el desbordamiento del contenido */
}
.header__background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* Para que quede detrás del contenido */
}

.header__overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.2); /* Capa de opacidad negra */
    z-index: 1;
}

.header__iframe {
    width: 100%;
    height: 100%;
}



.header__content {
    position: relative;
    z-index: 2;
}

.header__logo {
    max-width: 200px;
    height: auto;
    margin: 0 auto 10px;
}

.header__nav {
    z-index: 2;
    position: relative;
}

.nav__list {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

.nav__item {
    margin: 0 10px;
    padding: 2px 5px;
    background-color: rgb(86, 73, 196);
    border-radius: 10px;
}

.nav__link {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
}

.nav__link--active {
    border-bottom: 2px solid white;
}

.branding__title {
    font-size: 3em;
    margin-top: 20px;
}




.glow-on-hover {
    width: 150px;
    height: 35px;
    border: none;
    outline: none;
    color: #fff;
    background: #4423d4;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #000
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #272094;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}